* {
  font-family: "Overpass", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

#bootstrap-overrides nav {
  background-color: rgba(30, 136, 229);
}

#navbar-brand,
#navbarSupportedContent a {
  color: white;
}

#center {
  display: flex;
}

#main {
  padding-top: 5em;
  padding-bottom: 5em;
}

.main-container {
	margin: auto;
}

#main-slogan {
	font-size: 4em;
}

.phone {
	position: relative;
	height: 500px;
	width: 300px;
}

#phone-image {
  position: absolute;
  left: 100px;
  height: 500px;
  width: 320px;
}

#kareer-logo {
  position: absolute;
  left: 185px;
  top: 220px;
  height: 40px;
  width: 150px;
}

.store-badge {
  height: 3em;
}

.research-container {
	text-align: center;
}

.research-header {
	padding: 30px;
}

.masthead {
  background: url("https://images.unsplash.com/photo-1495968283540-e1df41995ba6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop"),
    #444;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.masthead-copy {
  color: white;
  text-shadow: 1px 1px 13px #222;
}
.masthead-copy > h1 {
  font-size: 4em;
  font-weight: 900;
}
.masthead-logo {
  height: 3em;
}
.navbar-brand > img {
  height: 1em;
}
.blue {
  color: #1e88e5;
}
